@model List<Student>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    List
</p>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
        </tr>
    }
</table>